.heading {
  width:100%;
  text-align: center;
}
body {
  background-color: #000000;
  background: url("http://i.imgur.com/yQzwp1n.jpg?1") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 h1, h2 {
   color: white;
 }

 img {
   height: 800px;
 }

nav {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
}

[class^='col-md-'] img {
  width: 100%;
}

.ocdevel-nav {
  float:right;
}

.lisa {
  text-align:left;
  float:left;
}

.tyler {
  text-align:right;
  float:right;
}
