.Home {
    background-size: 100% 15.9%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #0d1721;
    font-family: serif;
    font-size: 20px;
    text-align: center;
}

.Home .ocdevel h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
}


.Home .contact-formh1 {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

.Home .container-fluid {
    text-align: center;
}

.Home .description {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    text-align: left;
    margin: 100px;
}

.Home .divider {
    width: auto;
    color: white;
}

.Home .error {
    color: red;
}

.Home .front {
    width: 1000px;
}

.Home .front p {
    clear: both;
}

.Home h1, .Home h2 {
    color: #fffbf8;
    margin-bottom: 40px;
}

.Home img.head-image {
    width: 160px;
    height: 160px;
    vertical-align: initial;
}

.Home .heading {
    width: 100%;
    text-align: center;
}

.Home hr {
    margin: 100px;
}

.Home .jumbotron {
    background-color: transparent;
    color: #fffbf8;
    font-family: 'Sacramento', cursive;
    margin-bottom: 50px;
    font-size: 200px;

}

.Home .jumbotron p {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    /*margin-top: 50px;*/
    border-width: medium;
    border-color: white;
    border-style: solid;
}

.Home .kari {
    font-size: 20px;
    color: white !important;
    font-family: sans-serif;
    line-height: 30px;
    margin-bottom: 50px;
}

.Home .kari a {
    color: white;
}

.Home li {
    color: white;
}

.Home .message-sent {
    color: white;
    padding-bottom: 100px;
}

.Home .names {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}

.Home nav {
    display: table-header-group;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

.Home .navbar {
    font-size: 20px;
    /*border-color: #2aabd2;*/
    /*border-bottom-width: medium;*/
    /*text-decoration: margin: 0;*/
    top: 0;
    margin-right: 935px;
}

.Home nav li a {
    color: white;
    text-align: center;
    background-color: transparent !important;
}

.Home .ocdevel-modal a {
    font-family: sans-serif;
    font-size: x-large;
    color: black;
}

.Home .ocdevel-modal p {
    line-height: 20px;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: medium;
}

.Home .ocdevel.modal {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}

.Home .personal-details {
    height: 100%;
    background-color: black;
    color: teal;
    z-index: 100;
}

.Home .portfolio {
    color: white;
    background-color: white;
}

.Home .portfolio-image {
    width: 220px;
    height: 220px;
    margin-bottom: 40px;
}

.Home .portfoliolink {
    color: white;
}

.Home .project {
    color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: sans-serif;
    font-size: 50px;
}

.Home .social-buttons {
    list-style: none;
    margin-left: 580px;
    margin-top: 50px;
}

.Home .social-buttons li {
    float: left;
    padding-right: 10px;
}

.Home .social-buttons li a {
    /*font-size: .75em;*/
}

.Home .stick {
    height: 200px;
    width: 400px;
    margin-top: 200px;
}

.Home .welcome {
    color: #fffbf8;
    margin: 0 auto;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 30px;
}

.Home .zocial {
    background: none !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;

}

.Home nav ul a,
.Home nav .brand-logo {
    color: #444;
}

.Home p {
    line-height: 2rem;
}

.Home .button-collapse {
    color: #26a69a;
}

.Home .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.Home .parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .Home .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    .Home #index-banner .section {
        top: 10%;
    }
}

.Home @media only screen and (max-width: 600px) {
    .Home #index-banner .section {
        top: 0;
    }
}

.Home .icon-block {
    padding: 0 15px;
}

.Home .icon-block .material-icons {
    font-size: inherit;
}

.Home footer.page-footer {
    margin: 0;
}

.modal-body .contact-buttons a {
    margin: 5px;
    padding: 5px;
    display: block;
}
