.heading {
  width:100%;
  text-align: center;
}

body {
  background-color: #000000;
  background: url("BackgroundImage.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 h1, h2 {
   color: white;
 }

nav {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
}

.lisa {
  text-align:left;
  float:left;
  clear:both;
}

.tyler {
  text-align:right;
  float:right;
}

.front p {
  clear: both;
}
