.logo-and-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-and-sub .logo {
    flex: 1;
}

.sub-button-container {
    flex: 1;
}

.sub-button {
    display: block !important;
    margin: 5px;
    padding: 5px !important;
}