@import "node_modules/bootstrap/scss/bootstrap";
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color: #f6f9fc;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.navbar {
  //background-color: #fafbfc;
}

.container, .container-fluid {
  margin-top: 1rem;
}


.fade-post {
  max-height: 200px;
  position: relative;
  overflow: hidden;
  //margin-bottom: 10px;

  .fade-post-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0;

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, white);
  }
}

.contact-hire {
  .logo img {
    //width: 270px;
  }
}


.sidebar {
  div.logo img {
    width: 100%;
    max-width: 290px;
  }
  &.sidebar-profile {
    .card {border: none;}
    div.log img {
      max-width: 250px;
    }
  }
  .sidebar-podcasts {
    div.logo img {max-width: 250px;}
    p {
      font-size: .95rem;
    }
  }
}

.zocial {
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.icon-btn {
  position: relative;
  svg, span {
    position: absolute;

    // from .btn{padding}. Make sure to adjust icon size (24, 16)
    // normal
    //left: 12px;
    //bottom: 6px;
    // small
    left: 8px;
    bottom: 4px;
  }
}

.podcasts {
  // 3108d595: .logo-and-sub, .sub-button-container, .sub-button */

  .row {
    div[class^="col-"], .col {
      padding-left: .5em;
      padding-right: .5em;
    }
  }

  .episode-teaser {
    &.episode-archived {
      .card-title {
        text-decoration: line-through;
        a {
          color: #6c757d;
        }
      }
    }
  }

  .patreon-btn {
    background-color: #ff424d;
    border: none;
  }

  .patreon-btn-free {
    color: #ff424d;
  }

  .zocial {
    border: none !important;

    &.github {
      border: 1px solid #050505 !important;
    }
  }

  .resources {
    dd, dt {
      &:hover {
        text-decoration: underline;
      }
    }
    .filters-table {
      .ft-col1 {width: 30%;}
      .ft-col2 {width: 70%;}
    }

    .icon-importance-supplementary {}
    .icon-importance-valuable {color: #383d41 !important;}
    .icon-importance-essential {
      //color: #fed900 !important;
      color: black !important;
    }
    //.importance-essential { color: $primary; }
    //.importance-valuable { color: $success; }

    .section-title {font-weight: 600;}
    .section-pick {
      text-decoration: underline;
      text-decoration-style: dotted;
    }
    .section-description {
      border-radius: 0;
      &.section-description-expanded {
        p {
          margin-bottom: .5rem;
        }
        background-color: #eee;
      }
      //border-left: 1px solid $info;
    }

    &.resources-tree {
      background-color: white;
    }
  }

  .pick-one-resource {
    border: 1px solid #eee;
    border-left: .25rem solid $secondary; // #5bc0de

    //padding-left: 2rem;
    //h6 {
    //  position: absolute;
    //  left: -1rem;
    //  top: 1.5rem;
    //  @include transform(rotate(-90deg));
    //}
  }

  .sidebar-filters {
    .card {
      .card-body {
        //padding-top: .5em;
        padding-bottom: .5em;
      }
      .card-footer {
        background-color: white;
        border-top: none;
        color: #6c757d;
        //border-bottom: 1px solid rgba(0, 0, 0, 0.125)
      }
    }
    .filter-selected {
      //border-bottom: 3px solid $primary;
      //color: $primary;
      font-weight: 500;
    }
  }
}

.pointer {
  cursor: pointer;
}

.card-post {
  p {margin-bottom: 0px;}
  &:hover {
    border: 1px solid $primary;
  }
}

.notice-card {
  border: none;
  border-radius: 0 .25rem .25rem 0;
  border-left: 3px solid $primary;
}

.mlg-update {
  border-left: 3px solid $primary;
}

.text-underline {
  text-decoration: underline;
}