.Series .logo-and-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Series .logo-and-sub .logo {
    flex: 1;
}

.Series .sub-button-container {
    flex: 1;
}

.Series .sub-button {
    display: block;
    margin: 5px;
    /*padding: 5px;*/
}

.hire-me ul li {
    margin-bottom: 5px;
}
.hire-me ul li a {
    display: block;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}