body {
    background-color: black;
    background-image: url("/background-ocd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: serif;
    font-size: 25px;
    text-align: center;
}

.social-buttons {
    float: left;
    listStyle: none;
}

.social-buttons li {
    float: left;
    padding-right: 10px;
}

.social-buttons li a {
    font-size: .75em;
}

.contact-form {
    width: 40%;
    margin: 0 auto; /* center on page */
    margin-top: 200px;
    font-family: sans-serif;
    color: white;
    font-size: 100px;
    margin-bottom: 60px;
}

.contact-formh1 {
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.container-fluid {
    text-align: center;
}

.description{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    text-align: left;
    margin: 100px;
}

.divider {
    width: auto;
    color: white;
}
.front {
    width: 1000px;
}

.front p {
    clear: both;
}

h1, h2 {
    color: #fffbf8;
}

.head-image{
    width: 160;
    height: 160;
    margin-bottom: 40px;
}

.heading {
    width: 100%;
    text-align: center;
}

.jumbotron {
    background-color: transparent;
    color: white;
    font-family: 'Sacramento', cursive;
    margin-top: 70px;
    margin-bottom: 50;
    font-size: x-large;
}

li{
    color: white;
}


.names {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}

nav {
    display: table-header-group;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}
.navbar {
    font-size: smaller;
    /*border-color: #2aabd2;*/
    /*border-bottom-width: medium;*/
    text-decoration: margin: 0;
    top: 0;
}

nav li a {
    color: white;
    text-align: center;
    background-color: transparent !important;
}


.personal-details {
    height: 100%;
    background-color: black;
    color: teal;
    z-index: 100;
}
.portfolio {
    color: white;
}

.portfolio-image {
    width: 220px;
    height: 220px;
    margin-bottom: 40px;
}

.portfoliolink {
    color: white;
}

.stick {
    height: 200px;
    width: 400px;
    margin-top: 2px;
}

.welcome {
    color: #fffbf8;
    margin: 0 auto;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 30px;
}

.zocial{
    position: left;
}


