body {
    background-size: 100% 15.9%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #0d1721;
    font-family: serif;
    font-size: 20px;
    text-align: center;
    background-image: url("paper-low.jpg");
}

.ocdevel h1{
    color: #5c1b12;
    font-weight: bold;
    font-size: 60px;
}

.contact-form {
    width: 40%;
    margin: 0 auto; /* center on page */
    margin-top: 200px;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    margin-bottom: 60px;
}

.contact-formh1 {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

.container-fluid {
    text-align: center;
}

.description{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    text-align: left;
    margin: 100px;
}

.divider {
    width: auto;
    color: white;
}

.error {
    color: red;
}
.front {
    width: 1000px;
}

.front p {
    clear: both;
}

h1, h2 {
    color: #fffbf8;
    margin-bottom: 80px;
}

.head-image{
    width: 160px;
    height: 160px;
    /*margin-bottom: 40px;*/
}

.heading {
    width: 100%;
    text-align: center;
}
hr{
    margin: 100px;
}



.jumbotron {
    background-color: transparent;
    color: #fffbf8;
    font-family: 'Sacramento', cursive;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 200px;

}
.jumbotron p{
    font-size: 20px;
    color: #5c1b12;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    margin-top: 50px;
    border-width: medium;
    border-color: #5c1b12;
    border-style: solid;
}


.kari{
    font-size: 20px;
    color: white !important;
    font-family: sans-serif;
    line-height: 30px;
    margin-bottom: 50px;
}

.kari a{
    color: white;
}

li{
    color: white;
}
.message-sent {
    color: white;
    padding-bottom: 100px;
}

.names {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}

nav {
    display: table-header-group;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}
.navbar {
    font-size: 20px;
    /*border-color: #2aabd2;*/
    /*border-bottom-width: medium;*/
    /*text-decoration: margin: 0;*/
    top: 0;
    margin-right: 935px;
}

nav li a {
    color: white;
    text-align: center;
    background-color: transparent !important;
}

.ocdevel-modal a {
    font-family: sans-serif;
    font-size: x-large;
    color: black;
}

.ocdevel-modal p {
    line-height: 20px;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: medium;
}

.ocdevel.modal {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}


.personal-details {
    height: 100%;
    background-color: black;
    color: teal;
    z-index: 100;
}
.portfolio {
    color: white;
    background-color: white;
}

.portfolio-image {
    width: 220px;
    height: 220px;
    margin-bottom: 40px;
}

.portfoliolink {
    color: white;
}
.project {
    color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: sans-serif;
    font-size: 50px;
}

.social-buttons {
    list-style: none;
    margin-left: 580px;
    margin-top: 50px;
}


.social-buttons li {
    float: left;
    padding-right: 10px;
}

.social-buttons li a {
    /*font-size: .75em;*/
}

.stick {
    height: 200px;
    width: 400px;
    margin-top: 200px;
}

.welcome {
    color: #fffbf8;
    margin: 0 auto;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 30px;
}

.zocial{
    background: none !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;

}


nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


