.heading {
  width:100%;
  text-align: center;
}

body {
  background-color: black;
  background-image: url("portfolio/brick.jpg");
  background-size:cover;
  background-repeat:   no-repeat;
  background-position: center center;
  font-family: serif;
  font-size: 25px;
  text-align: center;
}

.jumbotron {
  background-color: teal;
  color: white;
}

 h1, h2 {
   color: teal ;
 }

nav {
  display:table-header-group;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

nav li a {
  color: white;
  text-align: center;
}

.lisa {
  text-align:center;
  float:left;
  clear:both;
}

.tyler {
  text-align:center;
  float:right;
}

.front p {
  clear: both;
}

.personal-details {
  height:100%;
  background-color: black;
  color: teal;
  z-index: 100;

}

.front {
  width: 1000px;
}
.homepage-picture {
  width: 500px;
  height: 800px;
  margin: 0 auto;
  padding-top: 50px;
}
.container-fluid {
text-align: center;
}

.portfolio-image {
  width: 300px;
  height: 200px;
}

.table {

}
